%h1 Listing swits

%table
  %tr
    %th Title
    %th Text
    %th
    %th
    %th

  - @swits.each do |swit|
    %tr
      %td= swit.title
      %td= swit.text
      %td= link_to 'Show', swit
      %td= link_to 'Edit', edit_swit_path(swit)
      %td= link_to 'Destroy', swit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Swit', new_swit_path
