<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div id = "createswit">
    <p>
      <%= f.hidden_field :author, value: current_user.email %>
    </p>
   
    <p id="writeswit">
      <%= f.label :"Write your swit", id:"switlabel" %>
      <%= f.text_area :text, :placeholder => "Write swit", id:"switbox" %>
    </p>
    <p>
      <%= f.submit :class => "tiny button", id:"createbutton"%>
    </p>

    <span class="countdown">hjhghg</span>

  </div>
<% end %>
