<%= render 'header' %>
  
<div id="wrapper"> 
    <%= render 'userprofile' %>
   <%= render 'form' %>

  <div id="article">
    <h4 id="l1"> Swits </h4>
    <% @articles.each do |article| %>
      <p id="author"><%= article.author %> </p>
      <p id="time">Posted <%= time_ago_in_words(article.created_at) %></p>
      <p id="taste"> <%= article.sweet %> Sweet | <%= article.sour %> Sour</p>
      <div id="text"><%= article.text %></div>

      <div id="activities">
        <%= link_to 'Sweet', sweet_post_path(id: article.id) %> |
        <%= link_to 'Sour', sour_post_path(id: article.id) %> |
        <%= link_to 'Comments', article_path(article) %> |
        <%= link_to 'Edit', edit_article_path(article) %> |
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>

      </div> 
      <hr/>
    <% end %>
  </div>

    
</div>
