<div id="header">
  <h3 id="title"> Switter </h3>
  <h5 id = "welcome"> Welcome Sweety! </h5>
</div>

<p id = "backedit">
  <%= link_to 'Back', articles_path, class:'button' %>
</p>

<div class="article">
   <p class="author">
    <strong>Author:</strong>
    <%= @article.author %>
  </p>
   
   <p class="text">
    <strong>Swit:</strong>
    <%= @article.text %>
  </p>
   <p> Posted <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.author %>
    </p>

    <div class="activities">
      <%= link_to 'Sweet'%> |
      <%= link_to 'Sour'%> |
      <%= link_to 'Comments' %> |
      <%= link_to 'Edit' %> |
      <%= link_to 'Delete'%>

    </div>

</div>

<div id="commentdiv">
  <h4>Comments</h4>

  <% @article.comments.each do |comment| %>
    <div class = "comment">
      <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
      </p>
     
      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>
      <p> Posted <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.author %>
    </p>
    </div>
  <% end %>

  <br/><br/>

  <h4>Add a Comment</h4>

  <%= form_for([@article, @article.comments.build]) do |f| %>
    <div id = "createswit">
      <p>
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
      </p>
      <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit :class => "button"%>
      </p>
  </div>
   <% end %>
</div>