= form_for @signin do |f|
  - if @signin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@signin.errors.count, "error")} prohibited this signin from being saved:"
      %ul
        - @signin.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :username
  .field
    = f.label :swit
    = f.text_field :password
  .actions
    = f.submit 'Save', class:'small button'
    = link_to 'Back', signins_path, class:'small button'
