%h3 Hello!
%br
%br
%table
  %tr
    %th Title
    %th Swit


  - @signins.each do |signin|
    %tr
      %td= signin.username
      %td= signin.password
      %td= link_to 'Sweet', signin
      %td= link_to 'Sour', signin
      %td= link_to 'Comment', edit_signin_path(signin)
      %td= link_to 'Show', signin
      %td= link_to 'Edit', edit_signin_path(signin)
      %td= link_to 'Destroy', signin, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Swit', new_signin_path, class: 'small button'
